*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #FFFFFF;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.header {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #FFFFFF;
}

.logo {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

.logo span {
    font-weight: 700;
    color: #FFF;
    background: black;
    padding: 0 5px;
}

.main-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    padding-left: 30px;
}

.nav-link {
    color: black;
    font-weight: 300;
    font-size: 22px;
}

.main-block {
    background: url("https://www.w3schools.com/w3images/architect.jpg") 0 0 no-repeat;
    background-size: cover;
    position: relative;
    min-height: 600px;
}

.main-bl-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.8;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    position: relative;
    margin-bottom: 20px;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background: black;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.content-title {
    font-size: 24px;
}

.contact-inp {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px 0;
}

.contact-inp::placeholder {
    font-size: 14px;
}

.contact-btn {
    color: #FFFFFF;
    background: black;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.contact-form {
    margin-bottom: 40px;
}

.footer {
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    margin: 0;
}