*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 600px;
    background-color: #1e1b26;
    box-shadow: 5px 5px 115px -14px black;
    border-radius: 10px;
    margin: 0 20px 40px;
}

.card-img-block {
    width: 100%;
    height: 430px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-title {
    margin: 0;
    font-size: 32px;
    flex-grow: 1;
    font-weight: 700;
}

.card-body {
    padding: 20px;
}

#app {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
}

.date {
    font-weight: 400;
    margin: 0;
}